# SPDX-License-Identifier: GPL-2.0

menu "NUVOTON SoC drivers"

config NPCM_BPC
	tristate "NPCM BIOS Post Code support"
	depends on (ARCH_NPCM || COMPILE_TEST)
	help
	  Provides NPCM driver to control the BIOS Post Code
	  interface which allows the BMC to monitor and save
	  the data written by the host to an arbitrary I/O port,
	  the BPC is connected to the host thourgh LPC or eSPI bus.

config NPCM_MBOX_CERBERUS
	tristate "NPCM CERBERUS Mailbox"
	depends on ARCH_NPCM || COMPILE_TEST
	depends on MAILBOX
	help
	  An implementation of the NPCM mailbox controller.
	  It is used to send message between the Core processor and other 
	  processors on the BMC such as TIP and CP. 
	  Select Y here if you want to use NPCM mailbox controller.

config WPCM450_SOC
	tristate "Nuvoton WPCM450 SoC driver"
	default y if ARCH_WPCM450
	select SOC_BUS
	help
	  Say Y here to compile the SoC information driver for Nuvoton
	  WPCM450 SoCs.

	  This driver provides information such as the SoC model and
	  revision.

config NPCM_SERIAL_PORT_CONTROL
	tristate "NPCM Serial Port Mode Control"
	depends on ARCH_NPCM || COMPILE_TEST
	help
	  Provides a driver to control the serial port switch that
	  enables the SoC to snoop and take over the serial interface.
	  Allow users to change the serial port mode via sysfs interface.

config NPCM_ESPI_MMBI
	tristate "NPCM MMBI Driver"
	depends on ARCH_NPCM || COMPILE_TEST
	help
	  Provides a driver to implement the mmbi protocol that
	  handle the data exchange between BMC and host over the
	  eSPI interface.

config MTD_NPCM_TIP_FIU
	tristate "Support NPCM TIP FIU"
	depends on ARCH_NPCM || COMPILE_TEST
	depends on MAILBOX
	depends on MTD
	help
	  This enables access to NOR device thourgh TIP in NPCM BMC's.

endmenu
